p{
  color: darkslateblue;
  size: 20px;
  font-family: verdana;
text-align: center;

}

body{
  background-color:  cornflowerblue;
  text-align:center  ;

}

h1{
  color: green;
  size: 20px;
  font-family: verdana;
text-align: center;
}

h2{
  color: green;
  size: 5px;
  font-family: verdana;
text-align: center;
}

.classbuton{
  font-size: 40px;

  color:#0C0638;
  font-family: Georgia, verdana;
}
