#banner{
    margin-top: 50px;
}

#banner img{
    width: 100%;
    height: 60%;
}

#banner .contenedor{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #fff;
}

#banner h2{
    font-family: 'Bungee', cursive;
    color:#fff;
    font-size:30px; 
}

#banner a{
    display: block;
    width: 140px;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    border: 3px solid #fff;
}

#banner a:hover{
    background: rgba(51,51,51,0.5);
    
}